body {
  background-color: #D59A87;
}

.gitUser {
  font-size: 1.25em;
  margin-bottom: 3em;
  #searchButton {
    background-color: #BECD82;
  }
  #searchButton:hover {
    background-color: #9AAB54;
  }
}

.jumbotron {
  background-color: #696694;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

.user_info {
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
  .user_img {
    max-width: 10em;
  }
}
